;=========================================
;Shared variables 
;=========================================
SysGet, screen_width, 59
SysGet, screen_height, 60 
screen_center_x := screen_width/2
screen_center_y := screen_height/2
left := screen_width/2
right := screen_width
middle_of_screen := screen_height/2
